<%= styleguide_example_for(section) do -%>
  <ol class="grouped-list $modifier_class">
    <li class="grouped-list__group">
      <h6 class="grouped-list__group__heading">Group Heading #1</h6>
      <div class="grouped-list__group__items">
        <div class="panel">
          <p class="panel__content">
            Direct trade VHS literally fap
          </p>
        </div>
        <section class="panel">
          <header class="panel__header">
            Meh cornhole biodiesel
          </header>
          <div class="panel__content">
            Ethical Thundercats seitan kale chips, drinking vinegar 8-bit 90's irony bitters XOXO single-origin coffee meh paleo. Shoreditch distillery ethical 8-bit brunch gluten-free.
          </div>
        </section>
      </div>
    </li>
    <li class="grouped-list__group">
      <h6 class="grouped-list__group__heading">
        Group Heading #2
        <span class="grouped-list__group__subheading">Sub Heading</span>
      </h6>
      <div class="grouped-list__group__items">
        <div class="panel">
          <p class="panel__content">
            Dreamcatcher vice vegan
          </p>
        </div>
      </div>
    </li>
  </ol>
<% end %>
