<%= styleguide_example_for(section) do -%>
  <div class="panel $modifier_class">
    <p class="panel__content">
      Ethical Thundercats seitan kale chips, drinking vinegar 8-bit 90's irony bitters XOXO single-origin coffee meh paleo. Shoreditch distillery ethical 8-bit brunch gluten-free.
    </p>
  </div>
  <section class="panel $modifier_class">
    <header class="panel__header">
      Meh cornhole biodiesel
    </header>
    <div class="panel__content">
      Ethical Thundercats seitan kale chips, drinking vinegar 8-bit 90's irony bitters XOXO single-origin coffee meh paleo. Shoreditch distillery ethical 8-bit brunch gluten-free.
    </div>
  </section>
<% end %>
