<%= styleguide_example_for(section) do -%>
  <div>
    <%= link_to("Item #1", "#", class: "navigation__item $modifier_class") %>
    <%= link_to("Item #2", "#", class: "navigation__item $modifier_class") %>
    <%= link_to("Item #3", "#", class: "navigation__item $modifier_class") %>
  </div>
<% end %>
