<ol class="grouped-list">
  <%= paginate(workouts) %>
  <% grouped.each do |group| %>
    <% cache group.second.map(&:cache_key).join(":") do %>
      <li class="grouped-list__group">
        <h6 class="grouped-list__group__heading">
          <%= group.first.to_formatted_s(:long) %>
        </h6>
        <%= render group.second %>
      </li>
    <% end %>
  <% end %>
</ol>
