<% member = OpenStruct.new(email: "justin@pixelbloom.com") %>
<%= styleguide_example_for(section) do -%>
  <div>
    <%= gravatar_for_member(member, size: :large, extra_classes: "$modifier_class") %>
  </div>
  <div>
    <%= gravatar_for_member(member, size: :large, extra_classes: "avatar--large $modifier_class") %>
  </div>
<% end %>
