<%= styleguide_example_for(section) do -%>
  <footer class="data-row">
    <div class="data-row__item">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, veritatis, tempore molestias voluptates doloribus unde enim a. Voluptates, molestias, dolorem, tempore, veritatis dolor ullam libero recusandae omnis enim corporis voluptate.
    </div>
    <div class="data-row__item">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, veritatis, tempore molestias voluptates doloribus unde enim a. Voluptates, molestias, dolorem, tempore, veritatis dolor ullam libero recusandae omnis enim corporis voluptate.
    </div>
    <div class="data-row__item">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error, veritatis, tempore molestias voluptates doloribus unde enim a. Voluptates, molestias, dolorem, tempore, veritatis dolor ullam libero recusandae omnis enim corporis voluptate.
    </div>
  </footer>
<% end %>
