<%= styleguide_example_for(section) do -%>
  <div class="page-message">
    <%= image_tag("sad_garmin.svg", class: "page-message__figure") %>
    <div class="page-message__content">
      <h2 class="h2">Lorem ipsum.</h2>
      <h3 class="h3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus,
        nulla nisi cupiditate laboriosam ipsum a natus itaque. Eos, error,
        cumque, commodi, rerum minima nostrum ad ipsum culpa sed illo recusandae?
      </p>
    </div>
  </div>
<% end %>
