<%= styleguide_example_for(section) do -%>
  <div class="tooltip">
    <div class="tooltip__content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore,
      recusandae, delectus, debitis voluptates odio ipsa.
    </div>
  </div>

  <div class="tooltip">
    <div class="tooltip__header">
      Tooltip Header
    </div>
    <div class="tooltip__content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore,
      recusandae, delectus, debitis voluptates odio ipsa.
    </div>
    <div class="tooltip__footer">
      Tooltip Footer
    </div>
  </div>
<% end %>
