<%= styleguide_example_for(section) do -%>
  <div class="uploader-workout panel">
    <div class="panel__header">
      <figure class="panel__figure">
        <i class="uploader-workout-avatar is-new"></i>
      </figure>
      <h6 class="panel__header__heading--padded uploader-workout__heading h6">
        Heading
      </h6>
    </div>
  </div>
<% end %>

<%= styleguide_example_for(section) do -%>
  <div class="uploader-workout panel">
    <div class="panel__header">
      <figure class="panel__figure">
        <i class="uploader-workout-avatar is-checked"></i>
      </figure>
      <h6 class="panel__header__heading--padded uploader-workout__heading h6">
        Heading
      </h6>
    </div>
  </div>
<% end %>

<%= styleguide_example_for(section) do -%>
  <div class="uploader-workout panel">
    <div class="panel__header">
      <figure class="panel__figure">
        <i class="uploader-workout-avatar is-failed"></i>
      </figure>
      <h6 class="panel__header__heading--padded uploader-workout__heading h6">
        Heading
      </h6>
    </div>
  </div>
<% end %>

<%= styleguide_example_for(section) do -%>
  <div class="uploader-workout panel">
    <div class="panel__header">
      <figure class="panel__figure">
        <i class="uploader-workout-avatar is-uploaded"></i>
      </figure>
      <h6 class="panel__header__heading--padded uploader-workout__heading h6">
        Heading
      </h6>
    </div>
  </div>
<% end %>
