.landing__row__features{
  @extend %landing__row;
}

// A row of features
//
// Styleguide Landing.Features
.landing__features {
  @extend .padding-superwide-top;
  @extend .padding-superwide-bottom;
  @include clearfix;

  clear: both;
}

.landing__features__feature {
  @extend .margin-superwide-bottom;
  @extend .padding-wide-bottom;
  @extend .padding-medium-left;
  @extend .padding-medium-right;
  @include font-size(1.2, 1.6);

  text-align: center;
  color: #555;

  &:last-child {
    margin-bottom: 0;
  }

  @include media($lap) {
    @include span-columns(6);
    @include pad(0 flex-gutter()*2);
    @include omega(2n);
  }

  @include media($desk) {
    @include span-columns(3);
    @include pad(0 flex-gutter());
    @include omega(4n);

    &:nth-child(2n) {
      @include span-columns(3);
    }

    &:nth-child(2n+1) {
      clear: none;
    }
  }
}

.landing__features__figure {
  $height: 7rem;
  $width: $height;

  @extend .margin-medium-bottom;

  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  height: $height;
  width: $width;
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  &:before,
  &:after {
    @include transform(rotate(45deg));

    content: '';
    position: absolute;
    width: 80%;
    height: 1px;
    border-top: 1px solid #ccc;
    left: 10%;
    top: 50%;
  }
  &:after {
    @include transform(rotate(-45deg));
  }
}

.landing__features__heading {
  @include font-size(1.6, 1.6);

  font-weight: bold;
}
