// Displays a big hero banner used on the landing page.
//
// -
//
// Styleguide Landing.Hero Banner
.landing__hero {
  $landing-hero-image-url: 'landing/contour.png';

  @extend .padding-superwide-bottom;
  @include hidpi(2) { $landing-hero-image-url: 'landing/contour@2x.png'; }

  overflow: hidden;
  position: relative;
  color: #fff;
  background: $landing-hero-background-color image-url($landing-hero-image-url) no-repeat center top;
  background-size: auto 100%;

  &:before {
    box-shadow: 0 -1.5rem 2rem rgba(#000, 0.25) inset;
    content: '';
    position: absolute;
    width: 120%;
    height: 120%;
    bottom: 0;
    left: -10%;
    right: 0;
    z-index: -1;
  }
}

.landing__hero__content {
  @extend .padding-superwide-top;
  @extend .padding-superwide-bottom;
  @include clearfix;

  @include media($lap-and-up) {
    @include span-columns(8);
    @include shift(2);
  }

  @include media($desk) {
    @include span-columns(10);
    @include shift(1);
  }
}

.landing__hero__article {
  position: relative;

  @include media($desk) {
    @include span-columns(5);
  }
}

.landing__hero__figure {
  display: none;

  @include media($desk) {
    @include span-columns(7);
    @include shift(-1);
    @include animation(landing__pulse 1.2s $ease-in-out-quad);

    display: block;
    position: absolute;
    bottom: -18%;
    right: -27%;
  }
}

.landing__hero__header {
  @extend .margin-tight-bottom;
  @include font-size(6, 1);

  text-transform: uppercase;
  text-align: center;

  @include media($lap-and-up) {
    @include font-size(8, 1);
  }

  @include media($desk) {
    @include font-size(10, 1);

    text-align: left;
  }

  & + p {
    @extend .padding-medium-left;
    @extend .padding-medium-right;
    @include font-size(1.4);

    text-align: center;

    @include media($lap-and-up) {
      @include font-size(1.5);

      padding: 0;
    }

    @include media($desk) {
      @include font-size(1.6);

      text-align: left;
    }
  }
}

.landing__hero__signup {
  @extend .header__navigation__item;
  @extend .margin-wide-top;
  @extend .margin-superwide-left;
  @extend .margin-superwide-right;
  @extend .padding-tight;
  @extend .padding-wide-left;
  @extend .padding-wide-right;
  @include font-size(1.4, 2);

  display: block;
  border-radius: 0.4rem;
  border: 0.2rem solid rgba(#fff, 0.35);
  color: rgba(#fff, 0.35);
  text-transform: none;
  text-align: center;
  float: none;

  @include media($lap-and-up) {
    @include font-size(1.2, 2);
  }

  @include media($desk) {
    @include font-size(1.6);

    display: inline-block;
    margin-left: 0;
  }
}
