%landing__card-spacing {
  @extend .padding-tight;
  @extend .padding-tight-left;
  @extend .padding-tight-right;

  @include media($lap-and-up) {
    @include padding(medium);
    @include padding(medium, left);
    @include padding(medium, right);
  }

  @include media($desk) {
    @include padding(wide);
    @include padding(wide, left);
    @include padding(wide, right);
  }
}

.landing__row__signup {
  @extend %landing__row;

  background-color: #e8e6e1;
}

// Signup
//
// Styleguide Landing.Signup
.landing__signup {
  @include prefixer(perspective, 1000, webkit moz o spec);

  text-align: center;

  @include media($lap-and-up) {
    @include span-columns(8);
    @include shift(2);
  }

  @include media($desk) {
    @include span-columns(6);
    @include shift(3);
  }
}

.landing__signup__message {
  @extend .margin-wide-bottom;

  color: #8f866e;
}

.landing__signup__card {
  @include transition(transition-property-names(transform, webkit) 350ms $ease-in-out-quad);
  @include transform-style(preserve-3d);

  position: relative;
  height: 5rem;

  &:hover {
    @include transform(rotateX(180deg));
  }

  @include media($desk) {
    height: 8rem;
  }
}

.landing__signup__card__front,
.landing__signup__card__back {
  @include prefixer(backface-visibility, hidden, webkit moz o spec);

  border-radius: 0.4rem;
  border-width: 0.2rem;
  border-style: solid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.landing__signup__card__front {
  background-color: transparent;
  border-color: $feature-color;
  display: table;
  vertical-align: middle;
}

.landing__signup__card__back {
  @extend %landing__card-spacing;
  @include transform(rotateX(180deg));

  border-color: $positive-color;
  background-color: $positive-color;
  color: #fff;
}

.landing__signup__card__cell {
  display: table-cell;
  vertical-align: middle;
}

.landing__signup__card__cell--input {
  @extend .landing__signup__card__cell;

  width: 100%;
}

.landing__signup__input,
.landing__signup__button {
  @extend %landing__card-spacing;
  @include font-size(1.4);

  border: none;
  height: 100%;
}

.landing__signup__input {
  background-color: transparent;
  border-right: none;
  font-weight: 500;
  width: 100%;
  display: block;
}

.landing__signup__button {
  @include padding(medium, left);
  @include padding(medium, right);

  display: block;
  background-color: $feature-color;
  border: none;
  color: rgba(#fff, 0.35);
  text-align: center;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: #fff;
    cursor: pointer;
  }

  @include media($desk) {
    @include padding(superwide, left);
    @include padding(superwide, right);
  }
}
