.landing__row__signup {
  @extend %landing__row;

  background-color: #e8e6e1;
}

.landing__signup {
  @include prefixer(perspective, 1000, webkit moz o spec);

  text-align: center;
}

.landing__signup__message {
  @extend .margin-wide-bottom;
}

.landing__signup__card {
  @include transition(transition-property-names(transform, webkit) 350ms $ease-in-out-quad);
  @include transform-style(preserve-3d);
  @include font-size(1.8);

  position: relative;
  height: 5rem;

  &:hover {
    @include transform(rotateX(180deg));
  }

  @include media($lap-and-up) {
    height: 10rem;
  }
}

.landing__signup__card__front,
.landing__signup__card__back {
  @include prefixer(backface-visibility, hidden, webkit moz o spec);

  border-radius: 0.4rem;
  border-width: 0.2rem;
  border-style: solid;
  position: absolute;
  width: 100%;
  display: table;
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
}

.landing__signup__card__front {
  background-color: transparent;
  border-color: $feature-color;
}

.landing__signup__card__back {
  @include transform(rotateX(180deg));

  border-color: $positive-color;
  background-color: $positive-color;
  color: #fff;
}

.landing__signup__card__cell {
  display: table-cell;
  vertical-align: middle;
}

.landing__signup__card__cell--input {
  @extend .landing__signup__card__cell;

  width: 100%;
}

.landing__signup__input,
.landing__signup__button {
  @extend .padding-tight;
  @extend .padding-tight-left;
  @extend .padding-tight-right;
  @include font-size(1.4);

  border: none;
  height: 100%;
}

.landing__signup__input {
  background-color: transparent;
  border-right: none;
  font-weight: 500;
  width: 100%;
  display: block;
}

.landing__signup__button {
  display: block;
  background-color: $feature-color;
  border: none;
  color: rgba(#fff, 0.35);
  padding-left: get_spacing(medium);
  padding-right: get_spacing(medium);
  text-align: center;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: #fff;
    cursor: pointer;
  }
}
