@include keyframes(landing__pulse) {
  0% {
    @include transform(translate3d(-25px, 0, 0));

    opacity: 0;
  }
  60% { opacity: 1; }
  100% {
    @include transform(translate3d(0, 0, 0));

    opacity: 1;
  }
}
