// Base style for `<label>` form elements.
//
// The `:first-child` has its top-padding removed.
//
// -
//
// :first-child
//
// Styleguide Forms.Label
label {
  @extend %font-weight-bold;
  @extend .padding-tight-left;
  @extend .padding-tight-top;
  @extend .padding-tight-bottom;
  @include font-size(0.9);

  text-transform: uppercase;
  display: block;

  &:first-child {
    padding-top: 0;
  }
}

// Base style for `input[type=text]` form inputs.
//
// :hover        - hover state
// :active       - active state
// :focus        - focus state
// :disabled     - can't touch this
// .error        - bad validation
//
// Styleguide Forms.Input
input[type="text"],
input[type="number"],
input[type="tel"],
input[type="password"] {
  @extend %input;
}

// Base style for `textarea` form inputs.
//
// :hover        - hover state
// :active       - active state
// :focus        - focus state
// :disabled     - can't touch this
// .error        - bad validation
//
// Styleguide Forms.Textarea
textarea {
  @extend %input;
}
