.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
blockquote{
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings:     "liga=1";
  -ms-font-feature-settings:      "liga";
  -webkit-font-feature-settings:  "liga";
  -o-font-feature-settings:       "liga";
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @extend %font-weight-bold;

  margin-bottom: 0.25em;
}

.h1{
  @include font-size(2.75, 1.2);
}

.h2{
  @include font-size(2.25, 1.2);
}

.h3{
  @include font-size(1.7, 1.2);
}

.h4{
  @include font-size(1.5, 1.2);
}

.h5{
  @include font-size(1.25, 1.2);
}

.h6{
  @include font-size(1.1, 1.2);
}

.subtle-text {
  text-align: center;
  padding: 1.5rem 0;
  text-shadow: 0 1px 1px rgba(255,255,255, 0.5);
  color: darken(#EDF0F3, 30%);
}
