html,
body {
  @include prefixer(tap-highlight-color, rgba(0,0,0,0), webkit);

  height: 100%;
  font-family: $font-family;
}

html{
  // set root font-size to be 10px so that it is
  // convenient for sizing things from in rem/em
  font-size: 62.5%;  // 10px
  background-color: $background-color;

  @include media($lap-and-up) {
    font-size: 75%; // 12px
  }
}

body {
  // Set actual desired optical font-size
  @include font-size($base-font-size, $line-height-ratio);
}

.grid-container {
  max-width: 1600px;
  margin: 0 auto;
}
