<% extra_classes ||= "" %>
<a href="#" class="burger <%= extra_classes %>">
  <span class="burger__bun-top"></span>
  <span class="burger__meat"></span>
  <span class="burger__bun-bottom"></span>
</a>
