<nav class="elsewhere">
  <%= link_to "github", "", title: "" %>
  <%= link_to "twitter", "", title: "" %>
</nav>
<p>
  Created in Melbourne by <%= link_to "@plasticine", "https://twitter.com/plasticine", title: "@plasticine on Twitter" %> and <%= link_to "@quamen", "https://twitter.com/quamen", title: "@quamen on Twitter" %>.
</p>
