<nav class="elsewhere">
  <%= link_to t('footer.github.label'), t('footer.github.url'),
    title: t('footer.github.label'),
    class: 'elsewhere__link--github'
  %>
  &bull;
  <%= link_to t('footer.twitter.label'), t('footer.twitter.url'),
    title: t('footer.twitter.label'),
    class: 'elsewhere__link--twitter'
  %>
</nav>
<p>
  Created by <%= link_to t('footer.awesome.plasticine.handle'), t('footer.awesome.plasticine.url'), title: t('footer.awesome.plasticine.title') %> and <%= link_to t('footer.awesome.quamen.handle'), t('footer.awesome.quamen.url'), title: t('footer.awesome.quamen.title') %>.
</p>
