<% if current_user %>
  <nav class="navigation">
    <%= render :partial => "shared/account_info" %>
    <div class="navigation__items">
      <%= link_to(t("navigation.dashboard"), dashboard_path, class: "navigation__items__item") %>
      <%= link_to(t("navigation.profile"), member_path(current_user.id), class: "navigation__items__item") %>
      <%= link_to(t("navigation.upload"), upload_path, class: "navigation__items__item--upload") %>
    </div>
  </nav>
<% end %>
