<% if current_user %>
  <nav class="navigation">
    <%= link_to(t("dashboard"), dashboard_path, class: "navigation__item") %>
    <%= link_to(t("upload"), upload_path, class: "navigation__item", "data-no-turbolink" => true) %>

    <div class="navigation__account">
      <p><%= current_user.name %></p>
      <%= link_to(t("sign_out"), sign_out_path, method: :put, class: "header-account__navigation__item") %>
    </div>
  </nav>
<% end %>
