<% if current_user %>
  <nav class="navigation">
    <%= link_to(t("navigation.dashboard"), dashboard_path, class: "navigation__item") %>
    <%= link_to(t("navigation.profile"), member_path(current_user.id), class: "navigation__item") %>
    <%= link_to(t("navigation.upload"), upload_path, class: "navigation__item is-cta") %>
    <%= render :partial => "shared/account_info" %>
  </nav>
<% end %>
