<% view = SessionsHelper::NewSessionView.new %>

<% unless current_user %>
  <nav class="header__navigation">
    <%= link_to(t("identities.new.submit"), sign_up_path, class: "header__navigation__item", title: t("identities.new.submit")) if view.sign_up_active? %>
    <%= link_to(t("sessions.new.submit"), sign_in_path, class: "header__navigation__item", title: t("sessions.new.submit")) %>
  </nav>
<% end %>
