<% cache "#{added_workout.cache_key}:#{added_workout.activity_workout.cache_key}" do %>
  <article class="panel">
    <ul class="panel__content">
      <p>
        <% if current_user == added_workout.user %>
          "You"
        <% else %>
          <%= added_workout.user.name %>
        <% end %>

        " did a workout:"
      </p>
      <li><strong>Duration:</strong> <%= (added_workout.activity_workout.active_duration / 1000 / 60.0).round(2) %> minutes</li>
      <li><strong>Distance:</strong> <%= (added_workout.activity_workout.distance / 100000.0).round(2) %>km</li>
    </ul>
  </article>
<% end %>
