.layout-authentication {
  .page {
    @include display-box;
    @include box-align(stretch);
    @include box-orient(vertical);
    @include box-pack(start);

    min-height: 100vh;
  }

  .header {
    @include box-flex(0);
  }

  .content {
    @extend .padding-medium;
    @include box-flex(1);
    @include display-box;
    @include box-align(center);
    @include box-pack(center);

    padding-top: 2.1rem;
  }

  .content__dialog {
    width: 100%;
    max-width: 450px;
    min-width: 300px;
  }

  .footer {
    @extend .padding-medium;
  }
}
