.content {}
.content__inner {
  @include padding(wide);
  @include transform(translate3d(0, 0, 0));
  @include transition(opacity 450ms $ease-in-out-quad);

  border-top: 1px solid #d5d8dd;
  opacity: 1.0;
  height: 100%;

  @include media($desk) {
    border-top: none;
  }
}
