.topbar {
  @extend .padding-medium-top;
  @extend .padding-medium-bottom;


  display: none;
  color: #fff;
  position: relative;

  // logo and header navigation
  .masthead {
    @include clearfix;

    padding: 0 20px 0 80px;

    .masthead-logo {
      float: left;
    }
    .masthead-logo,
    img {
      display: block;
    }

    // main navigation in the header
    .masthead-navigation {
      float: right;
    }
  }
}
