<article class="landing__features__feature">
  <figure class="landing__features__figure<%= "--#{feature.image}" unless feature.image.blank? %>" aria-hidden="true"></figure>
  <h4 class="landing__features__heading"><%= (feature.heading) %></h4>
  <p><%= (feature.content) %></p>
</article>
