<article class="landing__features__feature desk-span-three">
  <figure class="landing__features__figure">
    <%= image_tag(feature[:image], height: 42) %>
  </figure>
  <h4 class="landing__features__heading"><%= improve feature[:heading] %></h4>
  <p><%= improve feature[:content] %></p>
</article>
