<% view = HomesHelper::NewHomesHelper.new %>

<%= extends :unauthenticated do %>
  <% replace :title,          t("homes.show.title")  %>
  <% append  :body_class,     ' landing' %>
  <% replace :content_class,  'landing__content' %>
  <% replace :header_class,   'landing__header' %>

  <% prepend :page, '<div class="landing__hero">' %>
  <% replace :content_inner do %>
    <div class="landing__hero__content">
      <article class="desk-span-five-columns">
        <h1 class="landing__hero__header display-header">
          <%= improve t("homes.show.landing.heading") %>
        </h1>
        <p><%= improve t("homes.show.landing.intro_copy") %></p>
        <a href="#" class="landing__signup">Sign up for the Beta</a>
      </article>

      <figure class="landing__figure desk-span-five-columns">
        <%= image_tag('landing/pulse@2x.png', height: '309', width: '633') %>
      </figure>
    </div>
  <% end %>
  <% append :page, "</div>" %>
<% end %>
