// Styleguide Components.Navigation.Account Info
.account_info {
  @extend .media;
  @extend .padding-medium-top;
  @extend .padding-medium-bottom;

  margin-bottom: 0;
  clear: none;
  color: #a1a1a1;
  line-height: 1.6;
  height: 6.4rem;
  border-bottom: 1px solid darken(#d5d8dd, 10%);
  font-size: 0.9rem;

  @include media($desk) {
    padding: 0;
    padding-left: get_spacing(wide);
    margin-left: get_spacing(wide);
    float: right;
    border-left: 2px solid #e3e4e7;
    border-bottom: none;
    height: auto;
  }
}

.account_info__content {
  @extend .media__content;

  text-align: right;
  white-space: nowrap;
}

.account_info__content__divider {
  display: inline-block;
  padding: 0 0.25em;
}

.account_info__avatar {
  @extend .media__figure--right;

  display: block;
  margin-right: 0;
}
