// Styleguide Components.Avatar
.avatar {
  @include transform(translate3d(0, 0, 0));

  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  display: block;
  position: relative;
  overflow: hidden;
}

.avatar__image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: block;
}

// Styleguide Components.Large Avatar
.avatar--large {
  @extend .avatar;

  height: 8.2rem;
  width: 8.2rem;
}

// Styleguide Components.Small Avatar
.avatar--small {
  @extend .avatar;

  height: 2.2rem;
  width: 2.2rem;
}
