// The default button style.
//
// :hover    - Hover state
// :active   - Active state
// :focus    - Focus state
// :disabled - Disabled state
//
// Styleguide Controls.Buttons.Default Button
.button {
  @extend %button;
  @extend .margin-medium-top;

  display: block;
  text-align: center;
  margin-bottom: 0;
  clear: both;

  @include media($lap-and-up) {
    width: auto;
    display: inline-block;
  }
}

// button and input tags need a little extra help to be 100% width...
button.button,
input[type='submit'].button {
  @extend .button;

  width: 100%;

  @include media($lap-and-up) {
    width: auto;
  }
}
