.dialog {
  @extend .padding-wide;

  position: relative;
  border-radius: 4px;
  background-color: #fff;
  border: 2px solid #ccc;
  box-shadow: 0 0 2rem rgba(0,0,0, 0.1);
  float: none;
  margin-top: -30%;

  &.error {
    @include animation(error__shake 0.7s);
  }
}

.dialog__divider {
  @extend .margin-wide-top;
  @extend .margin-wide-bottom;

  clear: both;
  background: none;
  border: none;
  border-top: 1px solid #eee;
}
