// TODO: Styleguide me
.divider {
  @include margin(wide, top);
  @include margin(wide, bottom);

  clear: both;
  height: 0;
  background-color: transparent;
  border: none;
  border-top: 1px dotted #eee;
  height: 0px
}

.divider--medium {
  @extend .divider;
  @include margin(medium, top);
  @include margin(medium, bottom);
}

.divider--tight {
  @extend .divider;
  @include margin(tight, top);
  @include margin(tight, bottom);
}
