.entity-card {
  @extend .padding-medium;
}

.entity-card__title,
.entity-card__avatar {
  text-align: center;
  display: block;
}

.entity-card__title {
  @extend .margin-medium-bottom;

  color: #000;
}

.entity-card__avatar {
  @extend .margin-medium-bottom;

  margin-left: auto;
  margin-right: auto;
}
