// The main application header.
//
// This header is used app-wide for both authenticated and unauthenticated
// sessions. Authenticated users get a different navigation swapped in/out.
//
// -
//
// Styleguide Components.Header
.header {}

.header__inner {
  position: relative;
  height: 100%;

  @include media($lap-and-up) {
    @include padding(medium);

    overflow: hidden;
  }

  @include media($desk) {
    @include padding(wide);
  }
}

.header__masthead {
  display: none;

  @include media($lap-and-up) {
    @include transition(all 100ms $ease-in-out-quad);
    @include hide-text;

    float: left;
    display: block;
    background:transparent image-url('masthead.svg') left top no-repeat;
    background-size: 100% 100%;
    width: 90px;
    height: 22px;
    margin-top: 6px;

    .landing__hero & {
      background-image: image-url('landing/masthead.svg')
    }
  }

  @include media($desk) {
    width: 150px;
  }
}
