// The main application header.
//
// This header is used app-wide for both authenticated and unauthenticated
// sessions. Authenticated users get a different navigation swapped in/out.
//
// -
//
// Styleguide Components.Header
.header {
  border-bottom: 1px solid darken($background-color, 7%);
  background-color: $background-color;
}

.header__inner {
  position: relative;
  height: 100%;

  @include media($desk) {
    @include padding(medium);

    overflow: hidden;
  }

  @include media($superwide) {
    @include padding(medium, top);
    @include padding(medium, bottom);

    padding-left: 0;
    padding-right: 0;
  }
}

.header__masthead {
  @include hide-text;

  display: block;
  background:transparent image-url('masthead.svg') left top no-repeat;
  background-size: 100% 100%;
  width: 90px;
  height: 22px;
  position: absolute;
  top: 2.1rem;
  left: 1.4rem;
  z-index: 1;

  @include media($desk) {
    @include transition(all 100ms $ease-in-out-quad);

    position: static;
    float: left;
    margin-top: 6px;
  }

  @include media($desk) {
    width: 110px;
  }
}
