.header__inner {
  @extend .padding-medium;

  overflow: auto;

  @include media($desk) {
    @include padding(wide);
  }
}

.header__masthead {
  @include hide-text;

  display: block;
  float: left;
  background:transparent image-url('masthead.svg') left top no-repeat;
  background-size: 100%;
  width: 147px;
  height: 22px;

  .landing__hero & {
    background-image: image-url('landing/masthead.svg')
  }
}

.header__navigation {
  float: right;
}

.header__navigation__item {
  @include transition(all 350ms $ease-in-out-quad);

  @extend .padding-medium-left;
  @extend .padding-medium-right;
  @extend .margin-wide-left;

  border-radius: 4px;
  border: 2px solid $header-navigation-color;
  color: $header-navigation-color;
  float: left;
  font-size: 1.1rem;
  line-height: 2.2;
  text-transform: uppercase;

  &:first-child {
    margin-left: 0;
  }

  &:hover,
  &:focus {
    border-color: lighten($header-navigation-color, 25%);
    color: lighten($header-navigation-color, 25%)
  }
}
