// TODO: document me
.header {}

.header__inner {
  @extend .padding-wide;

  overflow: auto;
}

.header__masthead {
  float: left;
}

.header__navigation {
  float: right;
}

.header__navigation__item {
  @extend .padding-tight-left;
  @extend .padding-tight-right;
  @extend .margin-wide-left;

  float: left;
  border: 2px solid $header-navigation-color;
  border-radius: 2px;
  color: $header-navigation-color;
  text-transform: uppercase;

  &:first-child {
    margin-left: 0;
  }
}
