// TODO: document me
.landing-page {
  &,
  & .page {
    height: 100%;
    width: 100%;
  }
  & .page {
    display: flex;
    flex-direction: column;
  }
}

.landing-page__header {

}

.landing-page__content {
  @extend .padding-wide;

  padding-left: 25%;
  padding-right: 25%;
  flex: 1 100%;
  background:
    $landing-page-background-color
    image-url('landing-page/contours.png')
    no-repeat
    center top
  ;
}
