// TODO: document me
.landing {

  .landing__hero {
    $landing-hero-image-url: 'landing/contour.png';

    @include hidpi(2) {
      $landing-hero-image-url: 'landing/contour@2x.png';
    }

    overflow: hidden;
    position: relative;
    color: #fff;
    height: 43rem;
    background: $landing-hero-background-color image-url($landing-hero-image-url) no-repeat center top;
    background-size: auto 100%;

    &:before {
      box-shadow: 0 -1.5rem 2rem rgba(#000, 0.25) inset;
      content: '';
      position: absolute;
      width: 120%;
      height: 120%;
      bottom: 0;
      left: -10%;
      right: 0;
      z-index: -1;
    }
  }

  .landing__hero__header {
    @extend .margin-tight-bottom;
    @include font-size(10, 1);

    text-transform: uppercase;

    & + p {
      @include font-size(1.6);

      opacity: 0.8;
    }
  }

  .landing__hero__content {
    padding-top: 2rem;
  }

  .landing__signup__link {
    @extend .header__navigation__item;
    @extend .margin-wide-top;
    @extend .padding-tight;
    @extend .padding-wide-left;
    @extend .padding-wide-right;

    display: inline-block;
    border-radius: 0.4rem;
    border: 0.2rem solid rgba(#fff, 0.35);
    color: rgba(#fff, 0.35);
    font-size: inherit;
    text-transform: none;
    margin-left: 0;
  }

  %landing__row {
    @include clearfix;
    @include pad(16rem 0);
  }

  .landing__row__features,
  .landing__row__signup {
    @extend %landing__row;
  }

  .landing__row__signup {
    margin: 0 auto;
    background-color: #e8e6e1;
  }

  .landing__call-to-action {
    @extend .padding-wide;

    text-align: center;
    background-color: $feature-color;
    border-radius: 0.4rem;
    color: #fff;
    display: block;
    line-height: 1;
    font-weight: 500;
  }

  .landing__figure {
    @include animation(landing__pulse 1.2s $ease-in-out-quad);

    margin-left: -8%;
  }

  .landing__features {
    @extend .padding-superwide-top;
    @extend .padding-superwide-bottom;
    @include clearfix;

    clear: both;
  }

  .landing__features__feature {
    @include pad(0 1.25em 0 0);
    @include font-size(1.2, 1.6);

    text-align: center;
    color: #555;
  }

  .landing__features__figure {
    display: block;
    height: 4.2rem;
    margin: 0 auto 1.5em auto;
    text-align: center;
    width: 100%;
  }

  .landing__features__heading {
    margin-bottom: 1em;
    font-weight: bold;
  }

  .landing__signup {
    @include prefixer(perspective, 1000, webkit moz o spec);

    text-align: center;
  }

  .landing__signup__message {
    @extend .margin-wide-bottom;

    opacity: 0.35;
  }

  .landing__signup__card {
    @include transition(transition-property-names(transform, webkit) 350ms $ease-in-out-quad);
    @include transform-style(preserve-3d);
    @include font-size(1.8);

    position: relative;
    height: 100px;
    width: 100%;

    &:hover {
      @include transform(rotateX(180deg));
    }
  }

  .landing__signup__card__front,
  .landing__signup__card__back {
    @include prefixer(backface-visibility, hidden, webkit moz o spec);

    border-radius: 0.4rem;
    border-width: 0.2rem;
    border-style: solid;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: table;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
  }

  .landing__signup__card__front {
    background-color: transparent;
    border-color: $feature-color;
  }

  .landing__signup__card__back {
    @include transform(rotateX(180deg));

    border-color: $positive-color;
    background-color: $positive-color;
    color: #fff;
  }

  .landing__signup__card__cell {
    display: table-cell;
    vertical-align: middle;
  }

  .landing__signup__card__cell--input {
    @extend .landing__signup__card__cell;

    width: 100%;
  }

  .landing__signup__input,
  .landing__signup__button {
    @extend .padding-superwide;
    @extend .padding-superwide-left;
    @extend .padding-superwide-right;
    @include font-size(1.8);

    border: none;
    height: 100%;
  }

  .landing__signup__input {
    background-color: transparent;
    border-right: none;
    font-weight: 500;
    width: 100%;
    display: block;
  }

  .landing__signup__button {
    display: block;
    background-color: $feature-color;
    border: none;
    color: rgba(#fff, 0.35);
    padding-left: get_spacing(superwide) * 2;
    padding-right: get_spacing(superwide) * 2;
    text-align: center;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: #fff;
      cursor: pointer;
    }
  }
}
