.member-details {
  @extend .padding-medium;
}

.member-details__title,
.member-details__avatar {
  text-align: center;
  display: block;
}

.member-details__title {
  @extend .margin-medium-bottom;
}

.member-details__avatar {
  @extend .margin-medium-bottom;

  margin-left: auto;
  margin-right: auto;
}
