// The navigation in the top right-hand side of both authenticated and
// unauthenticated pages.
//
// -
//
// Styleguide Components.Navigation
.navigation {
  @include padding(medium, right);
  @include padding(medium, left);

  background-color: #d5d8dd;
  z-index: 2;
  height: 100%;

  @include media($desk) {
    padding: 0;
    float: right;
    background-color: transparent;
  }
}

.navigation__items {
  @include media($desk) {
    float: left;
  }
}

// Navigation Items.
//
// -
//
// :first-child - First child has the left margin removed.
// :hover       - Hover state
// :focus       - Focus state
// :active      - Active state
//
// Styleguide Components.Navigation.Navigation Item
.navigation__items__item {
  @extend %font-weight-bold;
  @include transition(all 100ms $ease-in-out-quad);
  @include padding(medium, top);
  @include padding(medium, bottom);
  @include font-size(1.3);

  display: block;
  width: 100%;
  border-bottom: 1px solid darken(#d5d8dd, 5%);

  @include media($desk) {
    @include padding(tight);
    @include padding(medium, left);
    @include padding(medium, right);
    @include margin(medium, left);
    @include font-size(1.0, 1.5);

    border-radius: 4px;
    border: 2px solid transparent;
    color: #a1a1a1;
    float: left;
    text-transform: capitalize;
    width: auto;

    &:first-child {
      margin-left: 0;
    }

    &:hover,
    &:focus {
      border-color: #a1a1a1;
    }

    &:active,
    &.is-active {
      border-color: $header-navigation-color;
      color: $header-navigation-color;
    }
  }
}

.navigation__items__item--upload {
  @extend .navigation__items__item;

  display: none;

  @include media($desk) {
    display: block;
    background-color: #0072bc;
    border-color: #0072bc;
    color: #fff;

    &:hover {
      border-color: #0072bc;
    }
  }
}
