// The navigation in the top right-hand side of both authenticated and
// unauthenticated pages.
//
// -
//
// Styleguide Components.Navigation
.navigation {
  float: right;
}

// Navigation Items.
//
// -
//
// :first-child - test
// :hover       - test
// :focus       - test
// :active      - test
// .is-active   - test
// .is-cta      - test
//
// Styleguide Components.Navigation.Navigation Item
.navigation__item {
  @include transition(all 100ms $ease-in-out-quad);

  @extend .padding-medium-left;
  @extend .padding-medium-right;
  @extend .margin-medium-left;

  border-radius: 4px;
  border: 2px solid transparent;
  color: #a1a1a1;
  float: left;
  font-size: 1.1rem;
  line-height: 2.2;
  text-transform: capitalize;

  &:first-child {
    margin-left: 0;
  }

  &:hover,
  &:focus {
    border-color: #a1a1a1;
  }

  &:active,
  &.is-active {
    border-color: $header-navigation-color;
    color: $header-navigation-color;
  }

  &.is-cta {
    background-color: #0072bc;
    border-color: #0072bc;
    color: #fff;
  }

  @include media($desk) {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    margin-left: get_spacing(wide);
    line-height: 2.6;
  }
}




.account__navigation {
  @extend .media;
  @extend .margin-medium-left;
  @extend .padding-medium-left;

  float: right;
  border-left: 2px solid #e3e4e7;
  clear: none;
  margin-bottom: 0;
  color: #a1a1a1;

  @include media($desk) {
    padding-left: get_spacing(wide) * 2;
    margin-left: get_spacing(wide) * 2;
  }
}

.account__navigation__content {
  @extend .media__content;

  text-align: right;
  white-space: nowrap;
}

.account__navigation__avatar {
  @extend .media__figure--right;

  display: block;
  margin-right: 0;
}
