.spinner {
  @include transition(opacity 0.2s ease-in);

  opacity: 1;

  &.spinner-enter {
    opacity: 0;

    &.spinner-enter-active { opacity: 1; }
  }

  &.spinner-leave {
    opacity: 1;

    &.spinner-leave-active { opacity: 0; }
  }
}
