<%= styleguide_example_for(section) do -%>
  <a href="#" class="burger $modifier_class">
    <span class="burger__bun-top"></span>
    <span class="burger__meat"></span>
    <span class="burger__bun-bottom"></span>
  </a>
<% end %>
