<section class="panel">
  <header class="panel__header--padded">
    <h6 class="h6"></h6>
  </header>
  <div class="panel__content">
    <ul class="data-row">
      <li class="data-row__item">
        <span class="h5 data-row__item__value"><%= weekly_totals.workouts %></span>
        <span class="data-row__item__key">Workouts</span>
      </li>
      <li class="data-row__item">
        <span class="h5 data-row__item__value"><%= weekly_totals.duration %></span>
        <span class="data-row__item__key">Duration</span>
      </li>
      <li class="data-row__item">
        <span class="h5 data-row__item__value"><%= weekly_totals.distance %></span>
        <span class="data-row__item__key">Distance</span>
      </li>
      <li class="data-row__item">
        <span class="h5 data-row__item__value"><%= weekly_totals.tss %></span>
        <span class="data-row__item__key">Training Stress Score</span>
      </li>
    </ul>
  </div>
</section>
