<section class="grouped-list">
  <div class="grouped-list__group">
    <h6 class="grouped-list__group__heading">Group Heading #1</h6>
    <div class="grouped-list__group__items">
      <%= render @workouts %>
    </div>
  </div>
</section>
