<% cache unfollowed_user do %>
  <article class="panel">
    <div class="panel__content">
      No longer following <%= unfollowed_user.activity_followed_user.name %>
    </div>
  </article>
<% end %>
