<% view = Activity::UnfollowedUserView.new(self, current_user, unfollowed_user) %>

<% cache unfollowed_user do %>
  <article class="panel">
    <header class="panel__header--padded">
      <figure class="panel__figure">
        <%= gravatar_for_member(unfollowed_user.activity_user) %>
      </figure>
      <h6 class="panel__header__heading h6">
        <%= view.title %>
      </h6>
    </header>
  </article>
<% end %>
