<%= styleguide_example_for(section) do -%>
  <!-- vanilla example -->
  <div class="media">
    <img class="media__figure" src="http://instasrc.com/64x64/kitten">
    <div class="media__content">
      <h3>Truffaut dreamcatcher gluten-free</h3>
      <p>
        90's stumptown locavore intelligentsia, Truffaut dreamcatcher gluten-free twee authentic banjo pop-up messenger bag art party actually 8-bit. Jean shorts farm-to-table american apparel, 90's viral letterpress selvage kale chips literally Etsy tumblr fanny pack biodiesel. Pitchfork mlkshk tote bag quinoa 90's.
      </p>
      <p>
        Cliche thundercats fap polaroid gluten-free, american apparel PBR umami kale chips tofu mlkshk banh mi chillwave chambray.
      </p>
    </div>
  </div>

  <!-- example with a right aligned figure -->
  <div class="media">
    <figure class="media__figure--right">
      <img src="http://instasrc.com/64x64/kitten">
    </figure>
    <div class="media__content">
      <h3>Pitchfork mlkshk tote bag</h3>
      <p>
        90's stumptown locavore intelligentsia, Truffaut dreamcatcher gluten-free twee authentic banjo pop-up messenger bag art party actually 8-bit. Jean shorts farm-to-table american apparel, 90's viral letterpress selvage kale chips literally Etsy tumblr fanny pack biodiesel. Pitchfork mlkshk tote bag quinoa 90's.
      </p>
      <p>
        Cliche thundercats fap polaroid gluten-free, american apparel PBR umami kale chips tofu mlkshk banh mi chillwave chambray.
      </p>
    </div>
  </div>

  <!-- example with an avatar applied to media__figure -->
  <div class="media">
    <figure class="media__figure avatar">
      <img src="http://instasrc.com/36x36/kitten">
    </figure>
    <div class="media__content">
      <h5>Fanny pack biodiesel</h5>
      <p>
        90's stumptown locavore intelligentsia, Truffaut dreamcatcher gluten-free twee authentic banjo pop-up messenger bag art party actually 8-bit. Jean shorts farm-to-table american apparel, 90's viral letterpress selvage kale chips literally Etsy tumblr.
      </p>
    </div>
  </div>

  <!-- example with an avatar applied to media__figure -->
  <div class="media">
    <figure class="media__figure--right avatar">
      <img src="http://instasrc.com/36x36/kitten">
    </figure>
    <div class="media__content">
      <h5>Fanny pack biodiesel</h5>
      <p>
        90's stumptown locavore intelligentsia, Truffaut dreamcatcher gluten-free twee authentic banjo pop-up messenger bag art party actually 8-bit. Jean shorts farm-to-table american apparel, 90's viral letterpress selvage kale chips literally Etsy tumblr.
      </p>
    </div>
  </div>
<% end %>
