<%= form_tag(upload_path, id: "GarminUploadController", class: "uploader") do %>

  <section id="DevicesList" class="uploader__devices"></section>

  <hr>

  <section id="Workouts"></section>
<% end %>

<% append :js do %>
  <%= javascript_tag do %>
    new app.controllers.GarminUploadController({
      uploadPath: "<%= upload_path %>",
      existingMemberWorkouts: <%= @member_workouts.to_json.html_safe %>
    });
  <% end %>
<% end %>
