<%= extends :unauthenticated do %>
  <% append :body_class, ' layout-authentication' %>
  <% context = yield %>
  <% replace :content do %>
    <section class="content__dialog">
      <%= area :dialog_content, context -%>
    </section>
  <% end %>
<% end %>
