<div class="grid-container">
  <h1>Members</h1>
  <ul>
    <% @members.each do |member| %>
      <li class="media">
        <%= gravatar_for_member(member, extra_classes: "media__figure") %>
        <div class="media__content">
          <h4><%= member.name %></h4>
          <% if current_user %>
            <%= member_relationship_status_for_members(member, current_user) %>
            <%= following_link_for_members(member, current_user) %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</div>
