<% cache @view.cache_key do %>
  <div class="grid-container">
    <header class="media">
    <%= gravatar_for_member(@view.member, size: :large, extra_classes: "media__figure avatar--large") %>
      <div class="media__content">
        <h1><%= @view.member.name %></h1>
        <div class="member-following">
          <%= following_link_for_members(current_user, @view.member) %>
        </div>
      </div>
    </header>

    <%= @view.render_activities %>
  </div>
<% end %>
