<div class="grid-container">
  <header class="media">
    <%= render :partial => "shared/avatar", locals: {css_class: "media__figure avatar--large"} %>
    <div class="media__content">
      <h1><%= @member.name %></h1>
      <%= following_link_for_member(@member) %>
    </div>
  </header>

  <%= render :partial => "shared/activities_list", :object => @activities %>
</div>
