<% cache @view.cache_key do %>
  <div class="layout-with-sidebar">
    <div class="layout-with-sidebar__sidebar">
      <header class="panel--flat">
        <%= render('member_details', view: @view) %>
      </header>
    </div>
    <section class="layout-with-sidebar__content">

      <div class="entity-masthead">
        <div class="entity-masthead__inner">
          <h1 class="entity-masthead__title h4">Workouts</h1>
        </div>
      </div>

      <%= @view.render_workouts %>
    </section>
  </div>
<% end %>
