<% cache @view.cache_key do %>
  <div class="layout-with-sidebar">
    <div class="layout-with-sidebar__sidebar">
      <header class="panel--flat">
        <%= render partial: "member_details", locals: {view: @view} %>
      </header>
    </div>
    <section class="layout-with-sidebar__content">
      <h2 class="h2">Workouts</h2>
      <%= @view.render_workouts %>
    </section>
  </div>
<% end %>
